.main-user-field {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.input-field {
    background-color: white;
    color: black;
    margin-top: 10px;
}

.radio-form {
    margin-top: 45px;
    background-color: white;
    color: black;
}